.answers {
    @include adaptiv-value("margin-bottom", 30, 10, 1920);

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin-bottom: 20px;
        @media (max-width: $breakpoints-medium) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &__options {
        padding-top: 50px;
        flex: 0 0 35%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        white-space: nowrap;
        @include adaptiv-value("height", 250, 125, 1920);
        @include adaptiv-value("row-gap", 40, 10, 1920);
        @include adaptiv-value("column-gap", 40, 20, 1920);
        @media (max-width: $breakpoints-medium) {
            width: 100%;
            margin-left: 20px;
        }
        .answer {
            max-width: 150px;
            position: relative;
            text-align: center;
            font-family: $text-font-stack2;
            @include adaptiv-value("font-size", 20, 15, 1920);
            &:hover {
                cursor: pointer;
                color: $brand-color;
            }

            &::before {
                content: "";
                position: absolute;
                background-color: $brand-color;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                left: -20px;
            }

            &.wrong-answer {
                &::before {
                    background-color: rgb(177, 23, 23);
                }
            }
            &.correct-answer {
                &::before {
                    background-color: green;
                }
            }
        }
    }
}
