.author-description {
    position: relative;
    &__stub {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #fff9f3;
        z-index: 2;
        .stub__text {
            @include adaptiv-value("font-size", 45, 25, 1920);
            text-align: center;
        }
    }

    &__header {
        display: flex;
        gap: 20px;
        justify-content: center;

        @media (max-width: $breakpoints-medium) {
            flex-direction: column;
        }
    }

    &__img {
        flex: 0 0 15%;
        border: 1px solid black;
        border-radius: 10%;

        img {
            border-radius: 10%;
            min-width: 70px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        flex: 0 1 40%;
    }

    &__title {
        // font-family: $text-font-stack2;
        text-align: center;

        margin: 15px 0 15px 0;
        @include adaptiv-value("font-size", 25, 15, 1920);
        @include adaptiv-value("letter-spacing", 5, 0, 1920);
    }

    &__player {
        .player-icon {
            // width: 30px;
            @include adaptiv-value("width", 30, 20, 1920);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .timebar__line {
            @include adaptiv-value("height", 3, 2, 1920);
        }
        .timebar__circle {
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        max-height: 160px;
        overflow: auto;
        @include adaptiv-value("font-size", 20, 16, 1920);
        font-family: $text-font-stack2;
        p {
            margin-bottom: 5px;
        }
    }
    &__btn {
        display: block;
        width: 100px;
        align-self: flex-end;
    }
}
