.poetry {
    margin-bottom: 50px;
    &__container {
    }
}

.gallery {
    &__poetry-cards {
        gap: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.verse-card {
    &__img {
        max-width: 280px;
        height: 280px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
    }

    &__title {
    }

    &__player {
    }

    &__play {
    }
}
