.body-results {
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.result {
    &__text {
        @include adaptiv-value("font-size", 50, 20, 1920);
    }

    &__current-score {
        font-family: $text-font-stack2;
        color: $brand-color;
    }

    &__btn {
    }
}
