.logo {
    @include adaptiv-value("width", 200, 100, 1920);
    &__img {
        max-width: 100%;
    }
    &:hover {
        cursor: pointer;
        border: 1px solid $brand-color;
        border-radius: 20%;
    }
}
