.answers {
    margin-bottom: 50px;
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        @media (max-width: $breakpoints-medium) {
            flex-direction: column;
            align-items: left;
        }
    }
    &__options {
        padding-top: 50px;
        flex: 0 0 30%;
        display: flex;

        flex-direction: column;
        @include adaptiv-value("gap", 40, 20, 1920);
        @media (max-width: 500px) {
            flex: 0 0 22%;
        }
        .answer {
            max-width: 150px;
            position: relative;
            text-align: center;
            @include adaptiv-value("font-size", 25, 20, 1920);
            &:hover {
                cursor: pointer;
                color: $brand-color;
            }

            &::before {
                content: "";
                position: absolute;
                background-color: $brand-color;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                left: -10%;
            }
        }
    }
}
