.answers {
    margin-bottom: 50px;
    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin-bottom: 20px;
        @media (max-width: $breakpoints-medium) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__options {
        padding-top: 50px;
        flex: 0 0 30%;
        display: flex;

        flex-direction: column;
        @include adaptiv-value("gap", 40, 20, 1920);
        @media (max-width: 500px) {
            flex: 0 0 22%;
        }
        .answer {
            max-width: 150px;
            position: relative;
            text-align: center;
            font-family: $text-font-stack2;
            @include adaptiv-value("font-size", 20, 15, 1920);
            &:hover {
                cursor: pointer;
                color: $brand-color;
            }

            &::before {
                content: "";
                position: absolute;
                background-color: $brand-color;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                left: -13%;
            }

            &.wrong-answer {
                &::before {
                    background-color: rgb(177, 23, 23);
                }
            }
            &.correct-answer {
                &::before {
                    background-color: green;
                }
            }
        }
    }
}
