// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
    padding-top: 20px;
    @include adaptiv-value("margin-bottom", 40, 15, 1920);
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__logo {
    }

    &__score {
    }

    &__nav {
        display: flex;
        justify-content: center;
        @include adaptiv-value("gap", 25, 10, 1920);
        @media (max-width: $breakpoints-medium) {
            flex-wrap: wrap;
        }
        .question-category {
            &:hover {
                cursor: pointer;
                color: $brand-color;
            }
        }

        .question-category,
        .question {
            @include adaptiv-value("font-size", 40, 20, 1920);
            text-align: center;
        }
    }
}
.score {
    @include adaptiv-value("font-size", 35, 15, 1920);
    &__title {
    }

    &__points {
    }
}
