.player-icon {
    @include adaptiv-value("width", 50, 20, 1920);
    img {
        max-width: 100%;
    }
}
.player {
    &__controls {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        align-items: center;
    }

    &__play {
        &:hover {
            cursor: pointer;
        }
        img {
            svg {
                fill: $brand-color;
            }
        }
    }

    &__timebar {
        flex: 1 1 auto;
        align-items: center;
    }
}
.timebar {
    position: relative;
    &__line {
        width: 100%;
        background-color: grey;
        border-radius: 15%;
        @include adaptiv-value("height", 5, 2, 1920);
        margin-bottom: 10px;
        &:hover {
            cursor: grab;
        }
    }

    &__time-info {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        @include adaptiv-value("font-size", 25, 10, 1920);
        .timebar-current-time {
            position: relative;
            left: 8%;
        }
        .timebar-max-time {
        }
    }
}
